body {
  background-color: rgb(140, 193, 243);
  text-align: center;
  margin: 20px;
}

.filterBtn {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}
.cardContainer {
  display: flex;
  flex-flow: wrap;
  gap: 20px 150px;
  justify-content: center;
}

.card-body {
  background-color: rgb(252, 252, 252);

}

.card-text {
  font-weight: bold;
  font-size: large;
}
